@import "../theme/gruvbox-material";

* {
  all: unset; //Unsets everything so you can style everything from scratch
  font-size: 12px;
}

.bar {
  border-radius: 0px;
  padding: 0.25rem 0.5rem;
  background: rgba(0, 0, 0, 0.2);
}

.left_box {
  font-size: 14px;
}

.left_box > * {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.right_box {
  font-size: 14px;
}

.right_box > * {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.sidestuff slider {
  all: unset;
  color: $theme_fg_color;
}

.controller {
  border-radius: 0.75rem;
  background: rgba(100, 100, 100, 0.5);
}

.time {
  border-radius: 0.75rem;
  background: rgba(100, 100, 100, 0.5);
}

.metric {
  border-radius: 0.75rem;
  background: rgba(100, 100, 100, 0.5);
}

.metric scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 5px;
}

.metric scale trough highlight {
  all: unset;
  background-color: $LIME_500;
  color: #000000;
  border-radius: 10px;
}

.workspaces button {
  padding: 2px;
  min-width: 20px;
  min-height: 20px;
  border-radius: 4px;
  background: $insensitive_base_color;
  transition: all 300ms;
  opacity: 0.5;
}

.workspaces button.using {
  opacity: 1;
}

.workspaces button:hover {
  background-color: #d35d6e;
}
