* {
  border: none;
  font-family: Cousine Nerd Font;
  font-size: 14px;
}

@define-color background #1d2021;
@define-color primary-light #576969;
@define-color primary-dark #2e3b3b;
@define-color secondary-light #766c54;
@define-color secondary-dark #5b4f3b;
@define-color neutral-light #e2cca9;
@define-color neutral-dark #3c3836;

window#waybar {
  background-color: rgba(43, 48, 59, 0);
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces {
  background-color: @background;
  border: 2px solid @primary-light;
  border-radius: 10px;
}

#workspaces button {
  border-radius: 10px;
  padding: 0 5px;
  background-color: transparent;
  color: #8a8a8a;
  transition-property: background-color;
  transition-duration: 0.2s;
}

#workspaces button:hover {
  box-shadow: inherit;
}

#workspaces button.focused {
  color: @neutral-light;
  background-color: shade (@background, 1.5);
  transition-property: background-color;
  transition-duration: 0.2s;
}

#workspaces button.urgent {
  background-color: @primary-dark;
  color: @neutral-light;
}

#clock,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#custom-media,
#custom-keyboard-layout,
#tray,
#mode,
#idle_inhibitor,
#mpd {
  padding: 0 10px;
  color: #ffffff;
}
#modules-right {
  border: 2px solid @secondary-light;
}

#mode {
  color: @background;
  margin-left: 10px;
  border-radius: 5px;
  background-color: @primary-light;
}

#clock {
  border-radius: 10px;
  background-color: @background;
  color: @neutral-light;
  border: 2px solid @secondary-dark;
}

#custom-keyboard-layout {
  margin-left: 10px;
  background-color: alpha (@primary-dark, 0.8);
  border-radius: 10px;
  border: 2px solid @secondary-light;
  color: @neutral-light;
}

#battery {
  background-color: @primary-dark;
  border-radius: 0 10px 10px 0;
  color: @neutral-light;
  border-top: 2px solid @secondary-dark;
  border-bottom: 2px solid @secondary-dark;
  border-right: 2px solid @secondary-dark;
  /* border-left: 2px solid @secondary-dark; */
}

#battery.charging {
  color: @neutral-light;
  background-color: #333e34;
  animation-name: green-blink;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.critical:not(.charging) {
  background-color: #3c1f1e;
  color: @neutral-light;
  animation-name: red-blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes red-blink {
  to {
    background-color: #442e2d;
    color: @neutral-light;
  }
}
@keyframes green-blink {
  to {
    background-color: #546856;
    color: @neutral-light;
  }
}

label:focus {
  background-color: @neutral-light;
}

#cpu {
  background-color: @background;
  color: @neutral-light;
  border-top: 2px solid @secondary-dark;
  border-bottom: 2px solid @secondary-dark;
}

#memory {
  background-color: @background;
  color: @neutral-light;
  border-top: 2px solid @secondary-dark;
  border-bottom: 2px solid @secondary-dark;
}

#network {
  background-color: @background;
  border-radius: 10px 0 0 10px;
  color: @neutral-light;
  border-left: 2px solid @secondary-dark;
  border-top: 2px solid @secondary-dark;
  border-bottom: 2px solid @secondary-dark;
}

#network.disconnected {
  background-color: #f53c3c;
}

#pulseaudio {
  background-color: @background;
  color: @neutral-light;
  border-top: 2px solid @secondary-dark;
  border-bottom: 2px solid @secondary-dark;
}

#custom-media {
  background-color: #66cc99;
  color: #2a5c45;
  min-width: 100px;
}

#custom-media.custom-spotify {
  background-color: #66cc99;
}

#custom-media.custom-vlc {
  background-color: #ffa000;
}

#tray {
  border-radius: 5px 10px 10px 5px;
  background-color: transparent;
  /* border-top: 2px solid @primary-light; */
  /* border-bottom: 2px solid @primary-light; */
  /* border-right: 2px solid @primary-light; */
}

#idle_inhibitor.activated {
  background-color: #ecf0f1;
  color: #2d3436;
}

#mpd {
  background-color: #66cc99;
  color: #2a5c45;
}

#mpd.disconnected {
  background-color: #f53c3c;
}

#mpd.stopped {
  background-color: #90b1b1;
}

#mpd.paused {
  background-color: #51a37a;
}
