@import "/home/javlocan/.themes/gruvbox-material";

* {
  all: unset; //Unsets everything so you can style everything from scratch
  // font-family: "NotoSans Nerd Font", sans-serif;
}

$bg-color: rgba(40, 40, 40, 0.5);

@mixin brick {
  border-radius: 6px;
  padding: 3px 8px 3px 8px;
  background: $bg-color;
}

@import "./bar/bar.scss";

@import "./components/controller.scss";

@import "./modules/workspaces.scss";
// @import "./modules/updates.scss";
@import "./modules/volume.scss";

.sidestuff slider {
  all: unset;
  color: $theme_fg_color;
}

.controller {
  @include brick;
  padding: 2px 8px 0 8px;
}

.time {
  @include brick;
}

.metric {
  @include brick;
}

.metric scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 3px;
  min-width: 30px;
  margin-left: 10px;
  margin-right: 5px;
}

.metric scale trough highlight {
  all: unset;
  background-color: $LIME_500;
  color: #000000;
  border-radius: 10px;
}

.updates {
  .updates_image {
    @include brick;
    opacity: 0.6;
  }

  .updates_count {
    font-size: 9px;
    font-weight: 900;
    text-shadow: 0 5px 5px black;
    border-radius: 50%;
  }
}
