@import "/home/javlocan/.themes/gruvbox-material";

* {
  all: unset; //Unsets everything so you can style everything from scratch
  // font-family: "NotoSans Nerd Font", sans-serif;
}

@import "./bar/bar.scss";
@import "./bar/workspaces.scss";

.sidestuff slider {
  all: unset;
  color: $theme_fg_color;
}

.controller {
  border-radius: 6px;
  background: rgba(100, 100, 100, 0.2);
}

.icon > * {
  font-size: 12px;
  margin: 3px 3px 0px 3px;
}

.time {
  border-radius: 6px;
  background: rgba(100, 100, 100, 0.2);
}

.metric {
  border-radius: 6px;
  background: rgba(100, 100, 100, 0.2);
}

.metric scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 5px;
}

.metric scale trough highlight {
  all: unset;
  background-color: $LIME_500;
  color: #000000;
  border-radius: 10px;
}
