/* GTK STYLES */

@import '../../.themes/Dracula/gtk-3.20/gtk.css';

* {
font-size: 20px;
}

#window {

}

#outer-box {
margin:10px;
  padding-left: 200px;
}

#scroll {
  background: @theme_bg_color;
}

#inner-box {
  background: @theme_base_color;
  padding-right: 20;
  padding-left: 20;
}

#input {
  /* color:red; */
}

box {
  padding:5;
border-radius: 10;
  background: rgba(0,0,0,0.1);
}
