@mixin side_box {
  padding-top: 4px;
  padding-bottom: 6px;
}

.foreground {
  .bar {
    font-size: 12px;
    border-radius: 0px;
    padding: 0px 6px;
    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.4) 30%,
      rgba(0, 0, 0, 0) 40%,
      rgba(0, 0, 0, 0) 60%,
      rgba(0, 0, 0, 0.4) 70%
    );

    .left_box {
      @include side_box;
    }

    .right_box {
      @include side_box;
    }

    .workspaces_holder {
      background: $bg-color;
      margin-top: -9px;
      border-radius: 0 0 20px 20px;
      min-width: 430px;
      min-height: 20px;
    }
  }

  .bottom_space {
    min-height: 20px;
    // background: yellow;

    .left_corner {
      min-height: 20px;
      min-width: 20px;
    }

    .right_corner {
      // background: blue;
      min-height: 40px;
      min-width: 40px;

      // .circle {
      //   border-radius: 50%;
      //   box-shadow: 20px -20px 10 10 black;
      //   border-top: 13px solid red;
      //   background: top right black;
      // }
    }
  }
}

.background {
  min-height: 80px;

  .shiny_thing {
    transition: all 360ms;
    border-radius: 8px;
    margin-top: -44px;
    background: white;
    background: radial-gradient(
      rgba(200, 100, 150, 0.6) 0%,
      rgba(200, 100, 150, 0.15) 30%,
      transparent 50%
    );
    min-width: 80px;
    min-height: 80px;

    &.hovered {
      opacity: 1;
    }
  }
}
